body {
    font-family: sans-serif;
}

.page-container {
    width: 900px;
    margin: 0 auto;
}

.grid-square {
    display: list-item;
    float: left;
    width: calc(200px - 2px);
    height: calc(200px - 2px);
    border: 2px solid black;
    font-size: 170px;
    text-align: center;
}

.grid-square:nth-of-type(-n+3){
    border-bottom-width: 1px;
}

.grid-square:nth-of-type(n+4):nth-last-of-type(n+4){
     border-top-width: 1px;
     border-bottom-width: 1px;
 }

.grid-square:nth-of-type(n+7){
    border-top-width: 1px;
}

.grid-square:nth-of-type(3n+1) {
    clear: left;
    border-right-width: 1px;
}

.grid-square:nth-of-type(3n+2) {
    border-right-width: 1px;
    border-left-width: 1px;
}

.grid-square:nth-of-type(3n+3) {
    border-left-width: 1px;
}