html
    head
        script(src='/js/lib/jquery-1.11.3.min.js')
        script(src='/js/t3.js')
        link(rel='stylesheet', href='/css/styles.css')
        title T3
    body
        .page-container

            h1 T3

            .grid-container
